.container{
  padding-top: 190px;
}
.container .hero-text{
  margin-bottom: 40px;
}
.container .hero-text h1{
  color: white;
  font-size: 47px;
  font-weight: 900;
  line-height: 1.2;
  margin: 20px 0px 20px;
}
span{
  color: #f81a1a;
}
.container .hero-text h3{
  color: #eee;
  font-weight: 400;
  font-size: 17px;
}
.container .hero-text p{
  width: 440px;
  max-width: 100%;
  color: #eee;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 30px;
}